body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: #fff;
  background-position: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
h2 {
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Verdana;
}

.header {
  display: block;
}

.left {
  float: left;
}
.right {
  float: right;
  margin-left: 15px;
}

a:link,
a:visited {
  color: #dc8924;
  text-decoration: none;
}
a:hover {
  color: #cc3300;
  text-decoration: underline;
}
a:hover,
a:active {
  outline: none;
}

p {
  margin: 0 0 15px 0;
}

.clear {
  clear: both;
  display: block;
}
.h20 {
  height: 20px;
}
.h40 {
  height: 40px;
}

.hidden {
  display: none;
}

.container {
  width: 85% !important;
  padding: 5px 10px 0;
  margin: 0 auto;
  min-height: 800px;
}

.menu {
  min-height: 30px;
  background-color: #526070;
  padding-top: 10px;
  font-size: 15px;
}

ul li {
  display: inline;
  margin-top: 15px;
  margin-right: 25px;
}

.simple-table td,
th {
  padding: 8px;
}

.simple-table tr:nth-child(even) {
  background-color: #e1e7ee;
}

.simple-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
  font-size: 10px;
}

.simple-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #000000;
  padding-left: 8px;
  font-size: 12px;
  background-color: #cdd5dd;
}
